<!DOCTYPE html>
<html lang="en" class="h-webkit-fill inter-font scroll-smooth">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<title>Todo App</title>
</head>
<body class="h-screen w-full pt-20 h-webkit- antialiased dark:[color-scheme:dark]">
	<div class="w-full h-full bg-violet-700 dark:bg-slate-900">
		<div class="h-full p-4">
			<h1 class="max-w-6xl h-[15%] mx-auto flex justify-center items-center text-slate-100 text-center text-4xl md:text-7xl audiowide-font">TODO APP</h1>
			<div class="max-w-2xl max-h-[65%] mx-auto flex flex-col bg-slate-100 dark:bg-slate-800 rounded-lg divide-y divide-slate-300 dark:divide-slate-400 mt-8 md:mt-16">
				<form id="form">
					<div class="w-full p-4 flex flex-row justify-between items-center gap-4">
						<input type="text" name="new-todo" placeholder="Create some task..." class="w-full p-2 dark:bg-slate-600 text-slate-800 dark:text-slate-50 md:text-xl rounded-lg grow outline-none focus:ring-2 focus:ring-violet-600" required>
						<button class="add-btn p-2 bg-violet-500 rounded-full cursor-pointer scale-100 hover:scale-110 transition duration-300 easy-in-out">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 md:h-7 md:w-7 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
							</svg>
						</button>
					</div>
					<p class="invalid-check hidden pl-4 pb-4 text-rose-600 text-sm">A task must be provided.</p>
				</form>
				<div class="overflow-y-auto grow">
					<ul class="divide-y divide-slate-300 dark:divide-slate-400 text-slate-800 dark:text-slate-200 text-sm md:text-xl">
						<li class="flex flex-row">
							<div class="group grow flex flex-row justify-between">
								<button class="delete-icon w-12 md:w-14 hidden group-hover:flex group-hover:justify-center group-hover:items-center cursor-pointer bg-red-500 origin-left">
									<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 md:h-7 md:w-7 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
										<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
									</svg>
								</button>
								<p class="p-4 break-words grow">Welcome to the todo app!</p>
							</div>
							<button class="check-icon w-12 md:w-14 flex justify-center items-center cursor-pointer border-l border-slate-300 dark:border-slate-400 hover:bg-green-300 transition duration-300 easy-in-out">
								<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 md:h-7 md:w-7 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
									<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
								</svg>
							</button>
						</li>
					</ul>
				</div>
				<div class="w-full p-4 flex flex-row justify-between md:justify-center items-center md:gap-8 text-white">
					<span class="total-todos p-2 bg-violet-700 text-xs md:text-sm rounded-md">Total: <span class="total-count"></span></span>
					<span class="completed-todos p-2 bg-green-500 text-xs md:text-sm rounded-md">Completed: <span class="completed-count"></span></span>
					<span class="incompleted-todos p-2 bg-rose-500 text-xs md:text-sm rounded-md">Incompleted: <span class="incompleted-count"></span></span>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="index.js"></script>
	<script src="/components/nav.js"></script>
</body>
</html>